@page "/"

<section class="hero-bleed" role="img" aria-label="Feature image">
  <div class="hero-overlay">
    <h1 class="hero-title">8star</h1>
    <p class="hero-sub">patchwork. vintage. one of one. handmade in atlanta.</p>
    <div class="hero-ctas">
      <a href="" class="btn">Shop Collection</a>
      <a href="" class="btn secondary">Visit Store</a>
    </div>
  </div>
</section>


<section class="grid container" aria-label="Featured collections">
  <div class="section-header">
    <h2>SHOP NEW ARRIVALS</h2>
  </div>
  <a href="/product/1" class="card">
    <div class="card-media image1"></div>
    <h2>Patchwork Shoulder Bag</h2>
    <p class="card-price">$125</p>
  </a>
  <a href="/product/2" class="card">
    <div class="card-media image2"></div>
    <h2>Vintage Patchwork Denim Jacket</h2>
    <p class="card-price">$95</p>
  </a>
  <a href="/product/3" class="card">
    <div class="card-media image3"></div>
    <h2>Denim Vest & Hoodie Set</h2>
    <p class="card-price">$45</p>
  </a>
</section>
